<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonuc</title>
</head>
<body>

  
    
    {% if total %}
    <p> <h3>İki Url Benzerlik Oranı : </h3>   {{total}} <br> <br>
    <h3>Birinci Url Anahtar Kelimeler : </h3>  {{ kv1  }} <br><br>
    <h3>Birinci Tüm Kelimeler : </h3> {{allkv1 }}<br> <br>
    <h3>İkinci Anahtar Kelimeler : </h3> {{ kv2  }} <br> <br>
    <h3> İkinçi Tüm Kelimeler :</h3>  {{allkv2 }}
    </p>
    {% else %}
    <p> Başarısız </p>
    {% endif %}

    
   
</html>